@media (max-width:768px){
    .model_3_homepage {
        background-size: 120% 100%;
    }
    .charge_go_div{
        display: grid;
        grid-template-columns: 1fr;
    }

}
@media (max-width:500px){

}